@page
@model WebApplication3.Pages.LoginModel
@{
}
@using reCAPTCHA.AspNetCore
@using reCAPTCHA.AspNetCore.Versions;
@using Microsoft.Extensions.Options
@inject IOptions<RecaptchaSettings> RecaptchaSettings
 <script src="https://www.google.com/recaptcha/api.js"></script>
<div class="container mt-5">

	<div class="row justify-content-center align-items-center">

		<div class="col-sm-12 col-md-12 col-lg-4">

			<h1 class="mb-3">Login </h1>
			<form method="post">
				<div asp-validation-summary="All" class="text-danger"></div>
				<input type="hidden" id="Captcha" asp-for="Captcha" />

				<div class="mb-3">
					<label class="form-label" asp-for="LModel.Email">Email Address</label>
					<input type="Text" asp-for="LModel.Email" class="form-control" />
					<span asp-validaton-for="LModel.Email" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label class="form-label" asp-for="LModel.Password">Password</label>
					<input type="Text" asp-for="LModel.Password" class="form-control" />
					<span asp-validaton-for="LModel.Password" class="text-danger"></span>
				</div>
				
				
					
				</script>

				<div class="mb-3">
					<button type="submit" class="btn btn-primary">Login</button>
				</div>
			
			</form>
		</div>
	</div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script src="https://www.google.com/recaptcha/api.js?render=@RecaptchaSettings.Value.SiteKey"></script>
<script>
	$(function () {
		grecaptcha.ready(function () {
			grecaptcha.execute('@RecaptchaSettings.Value.SiteKey', { action: 'submit' }).then(function (token) {
				// Add your logic to submit to your backend server here.
				console.log(token)
				document.getElementById("Captcha").value = token
			});
		});
	})

</script>
